{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center">Add New Product Entry</h1>

                    <form method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.as_p }}  <!-- Form field akan diatur dengan rapi secara otomatis -->
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-success">Add Product</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
