{% extends 'base.html' %}
{% block content %}

<h1>Detail Produk</h1>

{% if not orenji_entries %}
<p>Belum ada produk yang terdaftar.</p>
{% else %}
<table>
  <tr>
    <th>Nama Produk</th>
    <th>Harga</th>
    <th>Deskripsi Produk</th>
    <th>Stock</th>
    <th>Ketersediaan</th>
  </tr>

  {% for orenji_entry in orenji_entries %}
  <tr>
    <td>{{ orenji_entry.product_name }}</td>
    <td>{{ orenji_entry.price }}</td>
    <td>{{ orenji_entry.descriptions }}</td>
    <td>{{ orenji_entry.stock }}</td>
    <td>{{ orenji_entry.is_can_buy|yesno:"Available,Out of Stock" }}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<h1>Tambah Produk Baru</h1>

<a href="{% url 'main:create_orenji_entry' %}">
  <button>Add New Product Entry</button>
</a>

<a href="{% url 'main:logout' %}">
  <button>Logout</button>
</a>

<h5>Sesi terakhir login: {{ last_login }}</h5>

{% endblock content %}
